@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --content-height: 100vh;
  --footer-text-color: #c9d1d9;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body::before {
  content: "";
  width: 100%;
  min-height: var(--content-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #f5f5f5;
  background-image: url(../images/font-awesome-background.svg);
  background-repeat: repeat;
  opacity: 0.1;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

.main-container {
  position: relative;
  flex: 1 0 auto;
  min-height: var(--content-height);
  overflow: auto;
}

.content-wrapper {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
}

.card-container {
  max-width: 60%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: darkgray;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
}

.card-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card:hover {
  cursor: pointer;
}

.product-img {
  text-align: center;
  padding: 5px;
}

.product-content {
  display: flex;
  padding: 5px 10px 20px 10px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.product-content span:first-child {
  font-weight: 700;
}

.content-wrapper h1 {
  font-size: 3rem;
  text-align: center;
}

/* Footer */
footer {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

footer a {
  color: var(--footer-text-color);
}

.footer {
  position: relative;
  padding: 10px;
  color: var(--footer-text-color);
  background-color: #161b22;
}

.footer-content {
  text-align: center;
  letter-spacing: 0.1rem;
}

.footer-content a:hover {
  text-shadow: 0 0 10px #fff;
}

.footer-logo {
  position: absolute;
  right: 0;
  margin-right: 15px;
  z-index: 1;
}

/* Animations */
.footer-logo i {
  font-size: 50px;
  animation-name: spin;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/*Media queries*/

@media (max-width: 900px) {
  .content-wrapper {
    width: 100%;
  }

  .card-container {
    max-width: 90%;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .card {
    width: 300px;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 10px 0;
  }

  .product-content {
    flex-flow: column wrap;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.5rem;
  }

  footer {
    justify-content: flex-start;
  }

  .footer-content {
    width: 50%;
    margin: auto;
  }

  .footer-logo {
    position: static;
    order: 1;
  }

  @keyframes spin {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
}
